<footer class="site-footer">
  <div class="wrap">
    <div class="footer-grid">
      <div class="footer-brand">
        <img src="/assets/img/logo-full.png" alt="Viabilix">
        <p>Assessoria regulatória, licenciamento e gestão de documentação para empresas.</p>
      </div>
      <div class="footer-col">
        <h4>Navegação</h4>
        <ul>
          <li><a href="/">Início</a></li>
          <li><a href="/servicos">Serviços</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Serviços</h4>
        <ul>
          <li><a href="/servicos#regularizacao">Regularização &amp; Compliance</a></li>
          <li><a href="/servicos#seguranca">Segurança do Trabalho</a></li>
          <li><a href="/servicos#saude">Saúde Ocupacional</a></li>
          <li><a href="/servicos#apoio">Apoio Operacional</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contato</h4>
        <ul>
          <li><p>contato@viabilix.com.br</p></li>
          <li><p>Atendimento em todo o Brasil</p></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <span>© 2026 Viabilix. Todos os direitos reservados.</span>
      <span>Parte do ecossistema MTM Group</span>
    </div>
  </div>
</footer>
